@media only screen and (min-width: 300px) and (max-width: 786px) {
    .icons {
        display: none;
    }
    .contact{
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 787px) {
    .icons {
        display: block;
    }
}